.post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  max-width: 300px;
}

.ids {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ids small {
  width: 100%;
  text-overflow: ellipsis;
}